@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: hsl(0, 0%, 2%);
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #f5f5f5;
}

h3 {
    font-size: 20px;
    color: #f5f5f5;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #f5f5f5;
    margin: 15px 0 20px 0;
}


.section-p1 {
    padding: 40px 80px;

}

.section-m1 {
    margin:40px 0;
}

body{
    width:100%;
}

/*Header*/

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.6) ;
    z-index: 999;
    position:sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position:relative;

}


#navbar li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #0f7a05;
}


#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #0a5e03;
    position:absolute;
    bottom: -4px;
    left: 20px;
}

#hero{
    background-image:url("shop_images/shopbg.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0 ;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;

}

#hero h1 {
    color: rgb(6, 230, 54);

}


#hero button{
    background-color: rgb(255, 255, 255);
    color: white;
    font-weight: 400;
    padding: 15px;
    border-radius: 30px;
    border-color: white;
}


#button-icon{
    list-style: none;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 130px;
    height: 50px;
}

#button-icon p{
    list-style: none;
    color: rgb(2, 179, 55);
    padding-top: 7px;
}
#button-icon #merch-link{
    text-decoration: none;
}

#product1 {
    text-align: center;
}
#product1  .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;


}
#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer ;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
     box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}

#product1 .pro img{
    width: 100%;
    border-radius:20px;
    
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: gray;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;

}

#product1 .pro .des i{
    font-size: 12px;
    color: yellow;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: aquamarine;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    color: aquamarine;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    right: 10px;

}